@yellow: #fffa19;
@red: #e80707;
@green: #18f21c;

.jumbotron {
  background-color: @yellow;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: @red;;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 5px; }

.footer-address-icon {
  padding-right: 10px; }

.card-img-top {
  width: 200px;
  height: 200px;
  padding: 10px 10px 10px 10px; }
